<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>review</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>UserPage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>review.control.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>review.control.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReview</display-name>
    <servlet-name>EditReview</servlet-name>
    <servlet-class>review.control.EditReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReview</servlet-name>
    <url-pattern>/EditReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>review.control.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAccount</display-name>
    <servlet-name>deleteAccount</servlet-name>
    <servlet-class>controller.deleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccount</servlet-name>
    <url-pattern>/deleteAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>controller.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User2</display-name>
    <servlet-name>User2</servlet-name>
    <servlet-class>controller.User2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User2</servlet-name>
    <url-pattern>/User2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogout</display-name>
    <servlet-name>Userlogout</servlet-name>
    <servlet-class>com.javaEE.flixStar.control.Userlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogout</servlet-name>
    <url-pattern>/Userlogout</url-pattern>
  </servlet-mapping>
</web-app>